[ws-proxy] Not passing cookies with `[]` in their names to workspace ports

### Describe the bug
When a service listening on a workspace port uses cookies with brackets in their name, those cookies never make it to the service.

### Steps to reproduce
1. Save index.php with:
    ```PHP
    <?php
    setcookie("cookiename[0]", "something from somewhere");
    print_r($_COOKIE["cookiename"]);
    ?>
    ```
2. Serve with `php -S 0.0.0.0:8080`
3. Visit $(gp url 8080) and observe that the cookie value is NOT printed

Note: the cookie is set correctly and the browser sends it back, too
![image](https://user-images.githubusercontent.com/3210701/101618370-3486bd80-3a12-11eb-8926-5ae846f90cd4.png)


### Expected behavior
The cookie should be passed back to the service correctly


The fundamental issue that cookie names must not contain `[` or `]` (see [RFC6265 section 4.1.1 cookie-name](https://tools.ietf.org/html/rfc6265#section-4.1.1), respectively [RFC 2616 section 2.2 token](https://tools.ietf.org/html/rfc2616#section-2.2).